@model IQueryable<Shop.Models.Shops>
@{
    ViewBag.Title = "Магазины";
}
<br />
<div class="container">
    <table class="table table-responsive" border="1" width="100%">
        <tr>
            <th>Название магазина</th>
            <th>Адрес</th>
            <th>Время работы</th>
            <th>Количество товаров</th>
        </tr>
        @foreach (var shop in Model)
        {
            <tr>
                <td>
                    @shop.ShopName
                </td>
                <td>
                    @shop.ShopAddress
                </td>
                <td>
                    @shop.WorkingTime
                </td>
                <td>
                    <a href="#" onclick="ShowProducts(@shop.ShopId)">
                        <span>
                            @shop.Products.Count().ToString()
                        </span>
                    </a>
                </td>
            </tr>
        }
    </table>

    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            @if ((int)ViewData["pageNum"] > 0)
            {
                @Html.ActionLink("< Назад", "Index", new { pageNum = (int)ViewData["pageNum"] - 1 })
            }
            else
            {
                @Html.ActionLink("< Назад", "Index", new { pageNum = 0 })
            }
        </div>
        <div class="col-md-4">
            текущая страница - @((int)ViewData["pageNum"] + 1)
        </div>
        <div class="col-md-2">
            @if (Model.Count() == 10)
            {
                @Html.ActionLink("Вперед >", "Index", new { pageNum = (int)ViewData["pageNum"] + 1 })
            }
            else
            {
                @Html.ActionLink("Вперед >", "Index", new { pageNum = (int)ViewData["pageNum"] })
            }
        </div>
    </div>


    <br />

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Информация о товарах</h3>
                </div>
                <div class="modal-body" id="productInfo">

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>


